.env
.env.*
!.env.example
.git
.gitignore
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
!storage/app/public/.gitkeep
tests
.phpunit.result.cache
.idea
.vscode
